<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "ChopBot 3000", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home",  root_path %></li>
          <li><%= link_to "Help",  help_path %></li>
          <li><%= link_to "About", about_path %></li>
	  <li><%= link_to "Upload", upload_path %></li>
	  <li><%= link_to "Search", search_path %></li>
	  <li><%= link_to "Neighbors", neighbors_path %></li>
	  <li><%= link_to "Superfamiles", superfamilies_path %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
